/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --title-decor-color: rgba(0, 0, 40, 1);
  --title-decor-bg-color: rgba(255, 0, 112, 1);
  --main-title: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --card--text: rgba(241, 178, 206, 1);
  --padding: 10px;
  --gap: 10px;
  --bg-color: rgba(0, 0, 40, 1);
  --font-family: "IBM Plex Mono";
  --border-hover: rgba(255, 0, 112, 0.4);
  --border-focus-visible: rgba(255, 0, 112, 1);
}

@media (width >= 768px) {
  :root {
    --gap: 20px;
    --padding: 20px;
  }
}
